In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [2]:
#AREA EXTENT COORDINATE WGS4

lon_min,lat_min=-97.7430,34.9884
lon_max,lat_max=-74.0059,41.8500

In [3]:
#REST API QUERY
user_name=''
password=''
url_data='https://'+user_name+':'+password+'@opensky-network.org/api/states/all?'+'lamin='+str(lat_min)+'&lomin='+str(lon_min)+'&lamax='+str(lat_max)+'&lomax='+str(lon_max)
response=requests.get(url_data).json()

In [4]:
#LOAD TO PANDAS DATAFRAME
col_name=['icao24','callsign','origin_country','time_position','last_contact','long','lat','baro_altitude','on_ground','velocity',       
'true_track','vertical_rate','sensors','geo_altitude','squawk','spi','position_source']
flight_df=pd.DataFrame(response['states'],columns=col_name)
flight_df=flight_df.fillna('No Data') #replace NAN with No Data
flight_df.head()

,icao24,callsign,origin_country,time_position,last_contact,long,lat,baro_altitude,on_ground,velocity,true_track,vertical_rate,sensors,geo_altitude,squawk,spi,position_source
0,a5955b,UPS783,United States,1608172128,1608172128,-91.7194,35.5482,10668,False,262.93,47.70,0,No Data,10576.6,2430,False,0
1,ad694c,SWA2323,United States,1608172139,1608172140,-85.4898,36.2143,11887.2,False,269.18,102.92,0.33,No Data,11872,No Data,False,0
2,a3baf5,RAX701,United States,1608172128,1608172128,-89.3960,37.4539,3322.32,False,118.32,42.71,0.33,No Data,3208.02,No Data,False,0
3,a887e0,NKS135,United States,1608172139,1608172140,-85.5298,35.0295,11277.6,False,230.89,155.38,0.33,No Data,11315.7,2477,False,0
4,a2af3e,EDV4778,United States,1608172140,1608172140,-88.9821,37.8229,10972.8,False,198.96,311.65,0,No Data,10828,5511,False,0

In [5]:
import webbrowser

In [32]:
flt_map = folium.Map(prefer_canvas=True)



#iterate through stops_in_37207 to create locations and markers 
#for each bus stop
#remember for Folium locations, lat is listed first!!

for row_index, row_values in flight_df.iterrows():
    loc = [row_values['lat'], row_values['long']]
    

    
    icon=folium.Icon(color:="darkred",icon="plane",prefix='fa')
   
    pop = str(row_values['callsign'])
    marker = folium.Marker(
        location = loc, 
        popup = pop,
    icon = icon) 
    marker.add_to()
        

flt_map

In [7]:
import webbrowser
webbrowser.open("https://flightaware.com/")

True

In [8]:
import psycopg2 as pg
import pandas.io.sql as psql
connection = pg.connect("host=localhost dbname=Airline user=postgres password=postgres")
df= psql.read_sql('SELECT * FROM arrival', connection)
arrival = psql.read_sql_query('select * from arrival', connection)

In [9]:
arrival.head()

,year,quarter,month,dayofmonth,dayofweek,fltdate,op_unique_carrier,tail_num,flt_num,crs_arr_time,arr_time,arr_delay,arr_delay_new,arr_del15,num_of_flights
0,2002,1,3,6,3,2002-03-06,UA,N349UA,721,1359,1354.0,-5.0,0.0,0.0,1
1,2002,1,3,7,4,2002-03-07,UA,N322UA,721,1359,1411.0,12.0,12.0,0.0,1
2,2002,1,3,8,5,2002-03-08,UA,N328UA,721,1359,1346.0,-13.0,0.0,0.0,1
3,2002,1,3,9,6,2002-03-09,UA,N323UA,721,1359,1542.0,103.0,103.0,1.0,1
4,2002,1,3,10,7,2002-03-10,UA,N351UA,721,1359,1343.0,-16.0,0.0,0.0,1

In [10]:
arr_2020=arrival[arrival.year==2020]
arr_2020.head()

Empty DataFrame
Columns: [year, quarter, month, dayofmonth, dayofweek, fltdate, op_unique_carrier, tail_num, flt_num, crs_arr_time, arr_time, arr_delay, arr_delay_new, arr_del15, num_of_flights]
Index: []

In [11]:
arr_delay=arrival[arrival.arr_del15==1]
arr_delay.head()

,year,quarter,month,dayofmonth,dayofweek,fltdate,op_unique_carrier,tail_num,flt_num,crs_arr_time,arr_time,arr_delay,arr_delay_new,arr_del15,num_of_flights
3,2002,1,3,9,6,2002-03-09,UA,N323UA,721,1359,1542.0,103.0,103.0,1.0,1
8,2002,1,3,14,4,2002-03-14,UA,N319UA,721,1359,1441.0,42.0,42.0,1.0,1
19,2002,1,3,25,1,2002-03-25,UA,N349UA,721,1359,1414.0,15.0,15.0,1.0,1
20,2002,1,3,26,2,2002-03-26,UA,N340UA,721,1359,1423.0,24.0,24.0,1.0,1
23,2002,1,3,29,5,2002-03-29,UA,N356UA,721,1359,1427.0,28.0,28.0,1.0,1

In [12]:
tail_arr_delay = arr_delay[['tail_num', 'arr_del15']]
tail_arr_delay.head()

   tail_num  arr_del15
3    N323UA        1.0
8    N319UA        1.0
19   N349UA        1.0
20   N340UA        1.0
23   N356UA        1.0

In [13]:
connection = pg.connect("host=localhost dbname=Airline user=postgres password=postgres")
df= psql.read_sql('SELECT * FROM airplane', connection)
airplane = psql.read_sql_query('select * from airplane', connection)
airplane.head()

,tailnum,manufacturer,issue_date,model,aircraft_type,engine_type,year
0,N396AA,None,None,None,None,None,NaN
1,N10156,EMBRAER,2004-02-13,EMB-145XR,Fixed Wing Multi-Engine,Turbo-Fan,2004.0
2,N102UW,AIRBUS INDUSTRIE,1999-05-26,A320-214,Fixed Wing Multi-Engine,Turbo-Fan,1998.0
3,N10323,BOEING,1997-07-01,737-3TO,Fixed Wing Multi-Engine,Turbo-Jet,1986.0
4,N103US,AIRBUS INDUSTRIE,1999-06-18,A320-214,Fixed Wing Multi-Engine,Turbo-Fan,1999.0

In [14]:
tail_arr_delay=tail_arr_delay.rename(columns={'tail_num': 'tailnum'})
tail_arr_delay.columns

Index(['tailnum', 'arr_del15'], dtype='object')

In [15]:
plane_tailnum = pd.merge(tail_arr_delay,airplane, 
                                on = ['tailnum'],
                               how = 'inner')
plane_tailnum.head()

,tailnum,arr_del15,manufacturer,issue_date,model,aircraft_type,engine_type,year
0,N349UA,1.0,BOEING,1989-01-26,737-322,Fixed Wing Multi-Engine,Turbo-Fan,1988.0
1,N349UA,1.0,BOEING,1989-01-26,737-322,Fixed Wing Multi-Engine,Turbo-Fan,1988.0
2,N349UA,1.0,BOEING,1989-01-26,737-322,Fixed Wing Multi-Engine,Turbo-Fan,1988.0
3,N349UA,1.0,BOEING,1989-01-26,737-322,Fixed Wing Multi-Engine,Turbo-Fan,1988.0
4,N349UA,1.0,BOEING,1989-01-26,737-322,Fixed Wing Multi-Engine,Turbo-Fan,1988.0

In [16]:
plane_tailnum.dropna(how='any', inplace=True)

In [17]:
plane_tailnum.isnull().sum()

tailnum          0
arr_del15        0
manufacturer     0
issue_date       0
model            0
aircraft_type    0
engine_type      0
year             0
dtype: int64

In [18]:
plane_tailnum.to_csv(r'C:\Users\derej\Documents\NSS\projects\NSS-Capstone-Project-Airline-On-Time-Performance\data\plane_tailnum.csv')