In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [2]:
#AREA EXTENT COORDINATE WGS4

lon_min,lat_min=-97.7430,34.9884
lon_max,lat_max=-74.0059,41.8500

In [3]:
#REST API QUERY
user_name=''
password=''
url_data='https://'+user_name+':'+password+'@opensky-network.org/api/states/all?'+'lamin='+str(lat_min)+'&lomin='+str(lon_min)+'&lamax='+str(lat_max)+'&lomax='+str(lon_max)
response=requests.get(url_data).json()

In [4]:
#LOAD TO PANDAS DATAFRAME
col_name=['icao24','callsign','origin_country','time_position','last_contact','long','lat','baro_altitude','on_ground','velocity',       
'true_track','vertical_rate','sensors','geo_altitude','squawk','spi','position_source']
flight_df=pd.DataFrame(response['states'],columns=col_name)
flight_df=flight_df.fillna('No Data') #replace NAN with No Data
flight_df.head()

,icao24,callsign,origin_country,time_position,last_contact,long,lat,baro_altitude,on_ground,velocity,true_track,vertical_rate,sensors,geo_altitude,squawk,spi,position_source
0,aa56da,UAL357,United States,1608320909,1608320909,-74.2860,40.5120,815.34,False,87.67,62.38,0.33,No Data,838.2,1162,False,0
1,a6aeab,N53GA,United States,1608320909,1608320909,-84.1861,35.6503,8839.2,False,158.86,167.09,0,No Data,9052.56,0602,False,0
2,a678e5,N516N,United States,1608320909,1608320909,-75.6962,39.3347,7749.54,False,204.09,45.71,13.98,No Data,7673.34,5623,False,0
3,a90ea8,DAL342,United States,1608320909,1608320909,-89.8876,39.1390,11887.2,False,284.39,75.01,0,No Data,11902.4,6105,False,0
4,aa56d5,UAL441,United States,1608320909,1608320909,-76.3283,38.9588,8221.98,False,229.74,30.70,0,No Data,8153.4,2247,False,0

In [ ]:
flt_map = folium.Map(prefer_canvas=True, zoom_start=20,tiles='stamenterrain')
                

#iterate through fliht_df to create markers 


for row_index, row_values in flight_df.iterrows():
    loc = [row_values['lat'], row_values['long']]
       
    icon=folium.Icon(color='darkred',icon="plane",prefix='glyphicon')
   
    pop = str(row_values['callsign'])
    marker = folium.Marker(
        location = loc, 
        popup = pop,
        
    icon = icon) 
    marker.add_to(flt_map)
     
    flt_map

In [13]:
import webbrowser
webbrowser.open("https://flightaware.com/")

True

In [ ]:
import psycopg2 as pg
import pandas.io.sql as psql
connection = pg.connect("host=localhost dbname=Airline user=postgres password=postgres")
df= psql.read_sql('SELECT * FROM arrival', connection)
arrival = psql.read_sql_query('select * from arrival', connection)

In [ ]:
arrival.head()

In [ ]:
arr_2020=arrival[arrival.year==2020]
arr_2020.head()

In [ ]:
arr_delay=arrival[arrival.arr_del15==1]
arr_delay.head()

In [ ]:
tail_arr_delay = arr_delay[['tail_num', 'arr_del15']]
tail_arr_delay.head()

In [ ]:
connection = pg.connect("host=localhost dbname=Airline user=postgres password=postgres")
df= psql.read_sql('SELECT * FROM airplane', connection)
airplane = psql.read_sql_query('select * from airplane', connection)
airplane.head()

In [ ]:
tail_arr_delay=tail_arr_delay.rename(columns={'tail_num': 'tailnum'})
tail_arr_delay.columns

In [ ]:
plane_tailnum = pd.merge(tail_arr_delay,airplane, 
                                on = ['tailnum'],
                               how = 'inner')
plane_tailnum.head()

In [ ]:
plane_tailnum.dropna(how='any', inplace=True)

In [ ]:
plane_tailnum.isnull().sum()

In [ ]:
plane_tailnum.to_csv(r'C:\Users\derej\Documents\NSS\projects\NSS-Capstone-Project-Airline-On-Time-Performance\data\plane_tailnum.csv')

In [ ]:
plane_tailnum['model'].value_counts()

In [ ]:
m757_232=plane_tailnum.loc[plane_tailnum['model'].isin(['757-232'])]
m757_232.head(100)