In [3]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [4]:
#AREA EXTENT COORDINATE WGS4

lon_min,lat_min=-97.7430,34.9884
lon_max,lat_max=-74.0059,41.8500

In [5]:
#REST API QUERY
user_name=''
password=''
url_data='https://'+user_name+':'+password+'@opensky-network.org/api/states/all?'+'lamin='+str(lat_min)+'&lomin='+str(lon_min)+'&lamax='+str(lat_max)+'&lomax='+str(lon_max)
response=requests.get(url_data).json()

In [6]:
#LOAD TO PANDAS DATAFRAME
col_name=['icao24','callsign','origin_country','time_position','last_contact','long','lat','baro_altitude','on_ground','velocity',       
'true_track','vertical_rate','sensors','geo_altitude','squawk','spi','position_source']
flight_df=pd.DataFrame(response['states'],columns=col_name)
flight_df=flight_df.fillna('No Data') #replace NAN with No Data
flight_df.head()

,icao24,callsign,origin_country,time_position,last_contact,long,lat,baro_altitude,on_ground,velocity,true_track,vertical_rate,sensors,geo_altitude,squawk,spi,position_source
0,a808c4,PDT9986,United States,1608239809,1608239809,-86.5920,39.3574,11277.6,False,239.74,147.26,-0.33,No Data,11049,0144,False,0
1,aa56da,UAL1173,United States,1608239809,1608239809,-78.4000,36.6834,11887.2,False,281.49,28.25,-0.33,No Data,11902.4,6040,False,0
2,ac52ee,ASH6024,United States,1608239810,1608239810,-78.3999,38.7257,3413.76,False,160.57,72.09,-7.15,No Data,3329.94,4520,False,0
3,ab7b8c,UAL315,United States,1608239809,1608239810,-77.4610,38.3704,2667,False,148.39,3.18,-5.85,No Data,2590.8,3556,False,0
4,a4d862,N411FP,United States,1608239752,1608239752,-78.1138,35.6201,441.96,False,60.53,148.20,-1.3,No Data,411.48,No Data,False,0

In [7]:
import webbrowser

In [ ]:
flt_map = folium.Map(prefer_canvas=True, zoom_start = 12)
                



#iterate through stops_in_37207 to create locations and markers 
#for each bus stop
#remember for Folium locations, lat is listed first!!

for row_index, row_values in flight_df.iterrows():
    loc = [row_values['lat'], row_values['long']]
    

    
    icon=folium.Icon(color='darkred',icon="plane",prefix='glyphicon')
   
    pop = str(row_values['callsign'])
    marker = folium.Marker(
        location = loc, 
        popup = pop,
        
    icon = icon) 
    marker.add_to(flt_map)
    
    flt_map

In [ ]:
import webbrowser
webbrowser.open("https://flightaware.com/")

In [ ]:
import psycopg2 as pg
import pandas.io.sql as psql
connection = pg.connect("host=localhost dbname=Airline user=postgres password=postgres")
df= psql.read_sql('SELECT * FROM arrival', connection)
arrival = psql.read_sql_query('select * from arrival', connection)

In [ ]:
arrival.head()

In [ ]:
arr_2020=arrival[arrival.year==2020]
arr_2020.head()

In [ ]:
arr_delay=arrival[arrival.arr_del15==1]
arr_delay.head()

In [ ]:
tail_arr_delay = arr_delay[['tail_num', 'arr_del15']]
tail_arr_delay.head()

In [ ]:
connection = pg.connect("host=localhost dbname=Airline user=postgres password=postgres")
df= psql.read_sql('SELECT * FROM airplane', connection)
airplane = psql.read_sql_query('select * from airplane', connection)
airplane.head()

In [ ]:
tail_arr_delay=tail_arr_delay.rename(columns={'tail_num': 'tailnum'})
tail_arr_delay.columns

In [ ]:
plane_tailnum = pd.merge(tail_arr_delay,airplane, 
                                on = ['tailnum'],
                               how = 'inner')
plane_tailnum.head()

In [ ]:
plane_tailnum.dropna(how='any', inplace=True)

In [ ]:
plane_tailnum.isnull().sum()

In [ ]:
plane_tailnum.to_csv(r'C:\Users\derej\Documents\NSS\projects\NSS-Capstone-Project-Airline-On-Time-Performance\data\plane_tailnum.csv')

In [ ]:
plane_tailnum['model'].value_counts()

In [ ]:
m757_232=plane_tailnum.loc[plane_tailnum['model'].isin(['757-232'])]
m757_232.head(100)